.section{
  padding: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section div{
  position: relative;
}

.section svg, .section path{
  color: var(--clrGR0);
}

.section svg:nth-child(1), .section path:nth-child(1){
  font-size: 45px;
}