.title{
  padding: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1{
  font-size: 28px;
  font-family: 'Bebas' !important;
}

.title svg, .title path{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 24px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.title svg:hover, .title path:hover{
  background-color: var(--bg2);
}

.title svg:active, .title path:active{
  background-color: var(--bg3);
}