.mainCheck{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainCheck h1{
  font-size: 14px !important;
  text-align: center;
  color: var(--clrGR1) !important;
}

.mainCheck h2{
  font-size: 12px !important;
  text-align: center;
  color: var(--clrGR1) !important;
}

.mainCheck a{
  cursor: pointer;
}

.pagoSeguro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.StripeElement {
  margin-top: 10px;
  width: 100% !important;
  max-width: 350px;
  padding: 10px;
  border: 1px solid azure;
  border-radius: 5px;
}

.mainCheck img{
  margin-top: 10px;
  height: 30px;
}

.mainCheck span{
  color: var(--clr4);
  cursor: pointer;
}

