.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img img{
  height: 500px;
  border-radius: 2%;
}

.img svg, .img path{
  margin-top: 20px;
  font-size: 20px;
  color: var(--clrGR000);
  cursor: pointer;
}

.img svg:hover, .img path:hover{
  color: var(--clrGR00);
}

.img svg:active, .img path:active{
  color: var(--clrGR0);
}
