.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section h1{
  font-size: 16px;
  text-align: center;
}
