.iconSearchMain{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconSearch{
  width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

.iconSearch h1{
  margin-right: 10px !important;
  font-size: 16px;
} 

.iconSearch svg, .iconSearch path{
  font-size: 24px;
  cursor: pointer;
} 

.searchMain {
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg0);
  z-index: 1000;
}