.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
}

.addCliente{
  padding-left: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addCliente h1{
  font-size: 11.5px;
  color: var(--clr1);
}

.addCliente svg, .addCliente path{
  margin-left: 5px;
  color: var(--clr2);
  cursor: pointer;
}

.rowMap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1);
}

.rowMap:hover{
  background-color: var(--bg2);
}

.rowMap h1{
  padding: 6.5px 0 !important;
  height: auto;
  font-size: 12px;
}

.rowMap h1:nth-child(1){
  width: 20%;
  font-size: 11px;
  text-align: center;
}

.rowMap h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.rowMap h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  font-size: 10px;
  text-align: right;
}

.rowMap h1:nth-child(4){
  width: 10%;
  font-size: 10px;
  text-align: center;
}

.rowMap h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 24%;
  font-size: 10px;
  text-align: right;
}

.iconClose{
  position: absolute;
  top: 10px;
  right: 10px;
}

.iconClose svg, .iconClose path{
  font-size: 20px;
  cursor: pointer;
}

.iconCheck{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr1);
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--bg2);
}

.iconCheck:active{
  background-color: var(--bg3);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrBL0);
  cursor: pointer;
}

.toggleCot{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleOff, .toggleOn{
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleOFF, .toggleON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleOff svg, .toggleON svg, .toggleOn svg, .toggleOFF path, .toggleOff path, .toggleON path, .toggleOn path{
  margin-right: 5px;
  cursor: pointer;
}

.toggleON svg, .toggleOn svg, .toggleON path, .toggleOn path{
  color: var(--clr1);
  cursor: pointer;
}

.ivaInput{
  width: 38px !important;
}

.box3{
  padding-right: 3.5px !important;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box3 h1{
  margin: 2.8px 0;
  font-size: 11.5px;
  color: azure;
}

.box3 h1:nth-child(3){
  font-weight: 600 !important;
}

.box3_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.box3_2{
  width: 40%;
}

.box3_2 h1{
  padding: 3.2px 0 !important;
  font-size: 12.5px;
  text-align: right;
}

.iconClose svg, .iconClose path{
  padding: 8px;
  font-size: 34px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.main span{
  margin-top: 5px;
  font-size: 11.5px;
  color: red;
}

@media screen and (min-width: 768px) {

  .toggleOff svg, .toggleOn svg{
    margin-top: 20px;
  }
  
  .box3{
    margin-top: 50px;
  }

  .box3_1 h1{
    font-size: 14px;
  }

}
