.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchInput{
  width: 100% !important;
  height: auto !important;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input{
  width: 280px !important;
  color: azure !important;
  background-color: var(--bg2) !important;
  border-radius: 5px !important;
  border: 1px solid var(--bg0) !important;
}

.input input:focus{
  background-color: var(--bg4) !important;
}

.iconSearch{
  margin-left: 10px;
  position: relative;
  cursor: pointer;
} 

.iconSearch svg, .iconSearch path{
  font-size: 28px;
  color: var(--clrBL0);
  cursor: pointer;
} 

.iconSearch svg:hover, .iconSearch:hover path{
  color: var(--clrBL1);
}

.iconSearch svg:active, .iconSearch:active path{
  color: var(--clrBL2);
}

.visitaLista{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {



}