.icon{
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon{
  cursor: pointer;
}

.icon svg, .icon path{
  padding: 8px;
  font-size: 42px;
  border-radius: 50%;
  cursor: pointer;
}

.icon svg:hover,.icon path:hover{
  background-color: var(--bg3);
}

.icon svg:active,.icon path:active{
  background-color: var(--bg4);
}